<html>
    <head>
        <title>{{title}} - Orders </title>
    </head>
    <body>
        <h1>Orders</h1>
        <div class ="order-container">
            {% for order in orders %}
            <div class="order">
            <h2>{{ order.input_customer_name }}</h2>
            <h3>{{ order.input_order_date }}</h3>
            <h4>{{ order.input_quantity }}</h4>
            </div>
            {% endfor %}
        </div>
    </body>
</html>